html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section{
  display:block;
}
*[hidden]{
  display:none;
}

body{
  line-height:1;
}

menu, ol, ul{
  list-style:none;
}

blockquote, q{
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after{
  content:"";
  content:none;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

@font-face{
  font-family:"Ubuntu";
  src:url("/./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:"Ubuntu";
  src:url("/./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight:700;
  font-style:normal;
  font-display:swap;
}
.header{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:60px;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding-top:20px;
  padding-bottom:20px;
}
.header .header__container-nav .header__nav .header__nav-list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:40px;
}
.header .header__container-nav .header__nav .header__nav-list li a{
  text-decoration:none;
  color:#424551;
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-size:16px;
  font-weight:700;
  line-height:160%;
}
.header .header__container-nav .header__nav .header__nav-list li a:hover{
  color:#FF5A30;
}
.header .header__container-contakt{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:36px;
  padding-left:112px;
}
.header .header__container-contakt .contakt__pfone{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:12px;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.header .header__container-contakt .contakt__email{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:12px;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.header .header__container-contakt .contakt__text{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  line-height:150%;
  vertical-align:middle;
}
.header .header__container-contakt .contakt__text h3{
  color:#424551;
  font-weight:700;
  font-size:14px;
}
.header .header__container-contakt .contakt__text p{
  color:#1E212C;
  font-weight:400;
  font-size:18px;
}

.header__container-carusel{
  background-color:#000000;
}

.carousel{
  margin:auto;
}
.carousel .carousel__container{
  width:100%;
  height:90vh;
  position:relative;
  -webkit-box-shadow:4px 4px 10px black;
          box-shadow:4px 4px 10px black;
  overflow:hidden;
}
.carousel .carousel__container .carousel__container-content{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  overflow:hidden;
  -webkit-transition:3s ease-in-out;
  transition:3s ease-in-out;
  width:500%;
  height:100%;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.carousel .carousel__container .carousel__container-content img{
  aspect-ratio:16/9;
  display:block;
  width:100%;
  height:100%;
  -o-object-fit:cover;
     object-fit:cover;
  opacity:70%;
}
.carousel .carousel__container .carousel__container-left{
  position:absolute;
  top:0;
  left:0;
  color:white;
  height:100%;
  opacity:0.3;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-inline:20px;
}
.carousel .carousel__container .carousel__container-left:hover{
  background-color:black;
}
.carousel .carousel__container .carousel__container-left:active .carousel__container-content{
  font-size:100px;
}
.carousel .carousel__container .carousel__container-left .carousel__container-content{
  color:white;
  font-size:80px;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
}
.carousel .carousel__container .carousel__container-right{
  position:absolute;
  top:0;
  right:0;
  height:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-inline:20px;
  opacity:0.3;
  z-index:2;
}
.carousel .carousel__container .carousel__container-right:hover{
  background-color:black;
}
.carousel .carousel__container .carousel__container-right:active .carousel__container-content{
  font-size:100px;
}
.carousel .carousel__container .carousel__container-right .carousel__container-content{
  color:white;
  font-size:80px;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
}
.carousel .carousel__container .carousel__container-stop{
  opacity:0;
}
.carousel .carousel__container .carousel__container-stop .stop{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:10px;
  position:absolute;
  top:44%;
  left:47.5%;
  opacity:0.1;
  -webkit-transition:0.2s;
  transition:0.2s;
}
.carousel .carousel__container .carousel__container-stop .stop:hover{
  opacity:0.5;
}
.carousel .carousel__container .carousel__container-stop .stop .stop-item{
  width:20px;
  height:65px;
  border:1px solid black;
  background-color:white;
}
.carousel .carousel__container .current{
  position:absolute;
  top:220px;
  left:345px;
  right:500px;
  width:100%;
  z-index:0;
}
.carousel .carousel__container .current .current-heder{
  width:600px;
}
.carousel .carousel__container .current .current-heder h1{
  color:white;
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-size:72px;
  line-height:130%;
  letter-spacing:1px;
  font-weight:700;
}
.carousel .carousel__container .current .current-heder h1 span{
  color:#FF5A30;
}
.carousel .carousel__container .current .current-heder p{
  color:white;
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-size:20px;
  line-height:150%;
  font-weight:400;
  margin-top:24px;
  margin-bottom:61px;
}
.carousel .carousel__container .current .current-heder .current-heder__button button{
  color:#ffffff;
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-size:16px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:0.5px;
}
.carousel .carousel__container .current .current-heder .current-heder__button .button__left{
  width:278px;
  height:52px;
  border-radius:4px;
  border:1px solid #ffffff;
  background:transparent;
}
.carousel .carousel__container .current .current-heder .current-heder__button .button__left:hover{
  -webkit-box-shadow:4px 4px 10px black;
          box-shadow:4px 4px 10px black;
}
.carousel .carousel__container .current .current-heder .current-heder__button .button__ring{
  width:224px;
  height:52px;
  border-radius:4px;
  background-color:#FF5A30;
  border:1px solid #FF5A30;
  margin-left:24px;
}
.carousel .carousel__container .current .current-heder .current-heder__button .button__ring:hover{
  -webkit-box-shadow:4px 4px 10px black;
          box-shadow:4px 4px 10px black;
}
.carousel .carousel__container .current .current__button{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:10px;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  margin-top:179px;
}
.carousel .carousel__container .current .current__button .current__button-item{
  width:178px;
  height:2px;
  border:2px solid white;
  background-color:#ffffff;
  opacity:30%;
}
.carousel .carousel__container .current .current__button .current__button-item:hover{
  background-color:black;
  -webkit-box-shadow:2px 2px 5px white;
          box-shadow:2px 2px 5px white;
  height:10px;
}
.carousel .carousel__container .current .current__button .current__button-item h3{
  color:#ffffff;
  margin-top:-42px;
  font-size:28px;
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-weight:700;
}
.carousel .carousel__container .current .current__button .active{
  width:178px;
  height:10px;
  opacity:100%;
}

.main__container-construction{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-top:120px;
  height:1412px;
}
.main__container-construction .container-construction__title{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  gap:24px;
}
.main__container-construction .container-construction__title h2{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  color:#1E212C;
  font-weight:700;
  font-size:46px;
}
.main__container-construction .container-construction__title p{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  color:#787A80;
  font-size:18px;
  font-weight:400;
}
.main__container-construction .container-construction__video{
  width:1200px;
  height:500px;
  margin-top:60px;
  border:black solid 1px;
  -webkit-box-shadow:4px 4px 10px black;
          box-shadow:4px 4px 10px black;
}
.main__container-construction .container-construction__futer{
  padding-top:180px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.main__container-construction .container-construction__futer h3{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  color:#1E212C;
  font-weight:700;
  font-size:46px;
}
.main__container-construction .container-construction__futer p{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  color:#787A80;
  font-size:18px;
  font-weight:400;
  margin-top:24px;
}
.main__container-construction .container-construction__futer .futer-item__conteiner{
  margin-top:60px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  width:1419px;
}
.main__container-construction .container-construction__futer .futer-item__conteiner .item__conteiner{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-inline:94px;
}
.main__container-construction .container-construction__futer .futer-item__conteiner .item__conteiner .conteiner-img{
  width:48px;
  height:48px;
}
.main__container-construction .container-construction__futer .futer-item__conteiner .item__conteiner .conteiner-title{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  color:#1E212C;
  font-weight:700;
  font-size:20px;
  margin-top:24px;
}
.main__container-construction .container-construction__futer .futer-item__conteiner .item__conteiner .conteiner-text{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  color:#787A80;
  font-size:16px;
  font-weight:400;
  margin-top:8px;
  text-align:center;
  line-height:160%;
}
.main__container-construction .container-construction__futer .futer-item__conteiner .item__conteiner-center{
  border-left:1px solid rgba(218, 219, 221, 0.5019607843);
  border-right:1px solid rgba(218, 219, 221, 0.5019607843);
  border-top:none;
  border-bottom:none;
}
.main__container-construction .container-construction__ask{
  width:1230px;
  height:246px;
  margin-top:120px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  border-radius:4px;
  background-color:white;
  z-index:2;
  position:absolute;
  left:auto;
  right:auto;
  bottom:-1521px;
}
.main__container-construction .container-construction__ask .ask-title{
  padding-top:48px;
  padding-bottom:32px;
}
.main__container-construction .container-construction__ask .ask-title h3{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  color:#1E212C;
  font-weight:700;
  font-size:28px;
}
.main__container-construction .container-construction__ask .ask-input{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:24px;
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  color:#424551;
  font-size:16px;
  font-weight:400;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__name{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  gap:8px;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__name input{
  width:260px;
  height:44px;
  background-color:#F4F5F6;
  border:1px solid #D7DADD;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__name input:focus{
  border:1px solid #FF5A30;
  -webkit-box-shadow:4px 4px 10px #FF5A30;
          box-shadow:4px 4px 10px #FF5A30;
  border-radius:3px;
  outline:none;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__phone{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  gap:8px;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__phone input{
  width:260px;
  height:44px;
  background-color:#F4F5F6;
  border:1px solid #D7DADD;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__phone input:focus{
  border:1px solid #FF5A30;
  -webkit-box-shadow:4px 4px 10px #FF5A30;
          box-shadow:4px 4px 10px #FF5A30;
  border-radius:3px;
  outline:none;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__message{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  gap:8px;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__message input{
  width:414px;
  height:44px;
  background-color:#F4F5F6;
  border:1px solid #D7DADD;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__message input:focus{
  border:1px solid #FF5A30;
  -webkit-box-shadow:4px 4px 10px #FF5A30;
          box-shadow:4px 4px 10px #FF5A30;
  border-radius:3px;
  outline:none;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__button{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__button button{
  width:106px;
  height:44px;
  border-radius:4px;
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-size:14px;
  font-weight:700;
  letter-spacing:0.5px;
  background-color:#FF5A30;
  color:#ffffff;
  border:none;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__button button:hover{
  border:2px solid #b83f1e;
  -webkit-box-shadow:4px 4px 10px #FF5A30;
          box-shadow:4px 4px 10px #FF5A30;
}
.main__container-construction .container-construction__ask .ask-input .ask-input__button button:active{
  background-color:#c63818;
}

.main__container-services{
  height:880px;
  z-index:1;
  background-image:url(../images/background.jpg);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-top:220px;
}
.main__container-services .container-services__title{
  text-align:center;
}
.main__container-services .container-services__title h2{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
}
.main__container-services .container-services__title p{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-size:18px;
  font-weight:400;
  line-height:150%;
  color:#787A80;
  margin-top:24px;
}
.main__container-services .container-services__content{
  margin-top:60px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:30px;
}
.main__container-services .container-services__content .services__content-item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  gap:20px;
  width:285px;
  height:285px;
  background-color:#FFFFFF;
  border-radius:4px;
  border:1px solid #E5E8ED;
}
.main__container-services .container-services__content .services__content-item .content-item-fons{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  gap:20px;
  width:100%;
  height:100%;
}
.main__container-services .container-services__content .services__content-item .content-item-fons .content-item-img{
  width:52px;
  height:52px;
  z-index:2;
}
.main__container-services .container-services__content .services__content-item .content-item-fons .content-item-title{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-size:20px;
  font-weight:700;
  line-height:150%;
  color:#1E212C;
}
.main__container-services .container-services__content .item-1:hover{
  background-image:url(../images/construction_img.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  -webkit-transition:500ms;
  transition:500ms;
}
.main__container-services .container-services__content .item-1:hover .content-item-fons{
  background-color:rgba(110, 110, 110, 0.6);
}
.main__container-services .container-services__content .item-1:hover .content-item-fons .content-item-title{
  color:#FFFFff;
}
.main__container-services .container-services__content .item-1:hover path{
  fill:#FFFFff;
}
.main__container-services .container-services__content .item-2:hover{
  background-image:url(../images/projectdevelopment_img.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  -webkit-transition:500ms;
  transition:500ms;
}
.main__container-services .container-services__content .item-2:hover .content-item-fons{
  background-color:rgba(110, 110, 110, 0.6);
}
.main__container-services .container-services__content .item-2:hover .content-item-fons .content-item-title{
  color:#FFFFff;
}
.main__container-services .container-services__content .item-2:hover path{
  fill:#FFFFff;
}
.main__container-services .container-services__content .item-3:hover{
  background-image:url(../images/servis_img.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  -webkit-transition:500ms;
  transition:500ms;
}
.main__container-services .container-services__content .item-3:hover .content-item-fons{
  background-color:rgba(110, 110, 110, 0.6);
}
.main__container-services .container-services__content .item-3:hover .content-item-fons .content-item-title{
  color:#FFFFff;
}
.main__container-services .container-services__content .item-3:hover path{
  fill:#FFFFff;
}
.main__container-services .container-services__content .item-4:hover{
  background-image:url(../images/repairs_img.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  -webkit-transition:500ms;
  transition:500ms;
}
.main__container-services .container-services__content .item-4:hover .content-item-fons{
  background-color:rgba(110, 110, 110, 0.6);
}
.main__container-services .container-services__content .item-4:hover .content-item-fons .content-item-title{
  color:#FFFFff;
}
.main__container-services .container-services__content .item-4:hover path{
  fill:#FFFFff;
}
.main__container-services .container-services__futer{
  margin-top:80px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:40px;
}
.main__container-services .container-services__futer h3{
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-size:28px;
  font-weight:700;
  line-height:150%;
  color:#1E212C;
}
.main__container-services .container-services__futer button{
  width:207px;
  height:52px;
  background-color:#FF5A30;
  color:#fff;
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  font-weight:700;
  font-size:16px;
  letter-spacing:0.5px;
  text-transform:uppercase;
  border:none;
  border-radius:4px;
}
.main__container-services .container-services__futer button:hover{
  border:2px solid #b83f1e;
  -webkit-box-shadow:4px 4px 10px #FF5A30;
          box-shadow:4px 4px 10px #FF5A30;
}
.main__container-services .container-services__futer button:active{
  background-color:#c63818;
}

.main__container-projects .container-projects{
  padding-block:120px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.main__container-projects .container-projects .container-projects__title{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.main__container-projects .container-projects .container-projects__title h3{
  font-family:"Ubuntu", sans-serif;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
  width:702px;
}
.main__container-projects .container-projects .container-projects__title .slider__controls{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:end;
      -ms-flex-align:end;
          align-items:flex-end;
  margin-left:453px;
}
.main__container-projects .container-projects .container-projects__title .slider__controls .slider__controls-left{
  width:48px;
  height:48px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  border-radius:100%;
}
.main__container-projects .container-projects .container-projects__title .slider__controls .slider__controls-left:hover{
  background-color:#FF5A30;
}
.main__container-projects .container-projects .container-projects__title .slider__controls .slider__controls-left:hover path{
  fill:#FFFFFF;
}
.main__container-projects .container-projects .container-projects__title .slider__controls .slider__controls-right{
  width:48px;
  height:48px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  border-radius:100%;
}
.main__container-projects .container-projects .container-projects__title .slider__controls .slider__controls-right:hover{
  background-color:#FF5A30;
}
.main__container-projects .container-projects .container-projects__title .slider__controls .slider__controls-right:hover path{
  fill:#FFFFFF;
}
.main__container-projects .container-projects .container-projects__title .slider__controls .slider__controls-aktiv{
  background-color:#FF5A30;
}
.main__container-projects .container-projects .container-projects__title .slider__controls .slider__controls-aktiv path{
  fill:#FFFFFF;
}
.main__container-projects .container-projects .container-projects__title .slider__controls .slider__controls-aktiv:hover path{
  fill:#424551;
}
.main__container-projects .container-projects .container-projects__item{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-top:60px;
  gap:30px;
  height:440px;
}
.main__container-projects .container-projects .container-projects__item .projects__item{
  overflow:hidden;
  border-radius:4px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
  -webkit-box-shadow:0px 4px 4px -4px rgba(30, 33, 44, 0.031372549), 0px 12px 10px -6px rgba(154, 156, 165, 0.0392156863), 0px 30px 24px -10px rgba(154, 156, 165, 0.0509803922), 0px 80px 80px -20px rgba(154, 156, 165, 0.0784313725);
          box-shadow:0px 4px 4px -4px rgba(30, 33, 44, 0.031372549), 0px 12px 10px -6px rgba(154, 156, 165, 0.0392156863), 0px 30px 24px -10px rgba(154, 156, 165, 0.0509803922), 0px 80px 80px -20px rgba(154, 156, 165, 0.0784313725);
}
.main__container-projects .container-projects .container-projects__item .projects__item:hover .projects__item-img{
  height:277px;
  -webkit-transition:300ms;
  transition:300ms;
}
.main__container-projects .container-projects .container-projects__item .projects__item:hover .projects__item-button button{
  opacity:100%;
  -webkit-transition:300ms;
  transition:300ms;
}
.main__container-projects .container-projects .container-projects__item .projects__item .projects__item-img{
  width:390px;
  height:345px;
}
.main__container-projects .container-projects .container-projects__item .projects__item .projects__item-img img{
  width:100%;
  height:100%;
}
.main__container-projects .container-projects .container-projects__item .projects__item .projects__item-title{
  margin-top:16px;
}
.main__container-projects .container-projects .container-projects__item .projects__item .projects__item-title h3{
  font-family:"Ubuntu", sans-serif;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
  font-size:20px;
}
.main__container-projects .container-projects .container-projects__item .projects__item .projects__item-text p{
  margin-top:4px;
  font-family:"Ubuntu", sans-serif;
  font-size:14px;
  font-weight:400;
  line-height:150%;
  color:#787A80;
}
.main__container-projects .container-projects .container-projects__item .projects__item .projects__item-button{
  margin-top:24px;
}
.main__container-projects .container-projects .container-projects__item .projects__item .projects__item-button button{
  color:#FF5A30;
  padding-inline:32px;
  height:42px;
  background-color:#FFFFFF;
  border:1px solid #FF5A30;
  border-radius:4px;
  opacity:0;
}
.main__container-projects .container-projects .container-projects__item .projects__item .projects__item-button button:hover{
  color:#FFFFFF;
  background-color:#FF5A30;
}
.main__container-projects .container-projects .container-projects__futer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-top:85px;
  gap:40px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.main__container-projects .container-projects .container-projects__futer .projects__futer-title h3{
  font-family:"Ubuntu", sans-serif;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
  font-size:25px;
}
.main__container-projects .container-projects .container-projects__futer .projects__futer-button button{
  width:224px;
  height:52px;
  font-family:"Ubuntu", sans-serif;
  font-weight:400;
  color:#FFFFFF;
  background-color:#FF5A30;
  text-transform:uppercase;
  font-size:16px;
  letter-spacing:0.5px;
  font-weight:700;
  border-radius:4px;
  border:none;
}
.main__container-projects .container-projects .container-projects__futer .projects__futer-button button:hover{
  border:2px solid #b83f1e;
  -webkit-box-shadow:4px 4px 10px #FF5A30;
          box-shadow:4px 4px 10px #FF5A30;
}
.main__container-projects .container-projects .container-projects__futer .projects__futer-button button:active{
  background-color:#c63818;
}

.main__container-partners{
  height:934px;
  background-color:#F4F5F6;
  padding-top:80px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.main__container-partners .container-partners__heder .partners__heder-title h3{
  font-family:"Ubuntu", sans-serif;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
  text-align:center;
}
.main__container-partners .container-partners__heder .partners__heder-client{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:120px;
  margin-top:60px;
}

.container-partners__coment{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:135px;
  margin-top:170px;
}
.container-partners__coment .partners__coment-saing{
  width:600px;
}
.container-partners__coment .partners__coment-saing .coment-saing__title h3{
  font-family:"Ubuntu", sans-serif;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
}
.container-partners__coment .partners__coment-saing .coment-saing__text{
  margin-top:60px;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-foto img{
  border-radius:100%;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-coment{
  margin-top:24px;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-coment p{
  font-family:"Ubuntu", sans-serif;
  font-size:14px;
  font-weight:400;
  line-height:150%;
  color:#787A80;
  color:#424551;
  font-size:16px;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  margin-top:24px;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer .text-futer__name .futer__name-name h4{
  font-family:"Ubuntu", sans-serif;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
  font-size:16px;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer .text-futer__name .futer__name-posishin p{
  font-family:"Ubuntu", sans-serif;
  font-size:14px;
  font-weight:400;
  line-height:150%;
  color:#787A80;
  font-size:14px;
  color:#787A80;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer .text-futer__nav{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  gap:24px;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer .text-futer__nav .futer__nav-left{
  border-radius:100%;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer .text-futer__nav .futer__nav-left:hover{
  background-color:#FF5A30;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer .text-futer__nav .futer__nav-left:hover path{
  fill:#FFFFFF;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer .text-futer__nav .futer__nav-ring{
  border-radius:100%;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer .text-futer__nav .futer__nav-ring:hover{
  background-color:#FF5A30;
}
.container-partners__coment .partners__coment-saing .coment-saing__text .saing__text-futer .text-futer__nav .futer__nav-ring:hover path{
  fill:#FFFFFF;
}
.container-partners__coment .partners__coment-foto{
  width:495px;
  height:550px;
}
.container-partners__coment .partners__coment-foto img{
  width:100%;
  height:100%;
}

.main__container-facks{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  height:1600px;
  position:relative;
  overflow:hidden;
}
.main__container-facks::before{
  content:"";
  position:absolute;
  top:-200px;
  left:-300px;
  width:1065px;
  height:858px;
  background-image:url(../images/bg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  -webkit-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
          transform:rotate(45deg);
  opacity:0.25;
  pointer-events:none;
  z-index:1;
}
.main__container-facks > *{
  position:relative;
  z-index:2;
}
.main__container-facks .container-facks__heder{
  padding-top:180px;
}
.main__container-facks .container-facks__heder .facks__heder-title h2{
  font-family:"Ubuntu", sans-serif;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
  text-align:center;
}
.main__container-facks .container-facks__heder .facks__heder-progress{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:48px;
  margin-top:60px;
}
.main__container-facks .container-facks__heder .facks__heder-progress .progress__item p{
  font-family:"Ubuntu", sans-serif;
  font-size:14px;
  font-weight:400;
  line-height:150%;
  color:#787A80;
  text-align:center;
  color:#1E212C;
  margin-top:20px;
}
.main__container-facks .container-facks__heder .facks__heder-progress .progress__item svg{
  -webkit-transform:rotate(-90deg);
      -ms-transform:rotate(-90deg);
          transform:rotate(-90deg);
  -webkit-transform-origin:center;
      -ms-transform-origin:center;
          transform-origin:center;
}
.main__container-facks .container-facks__heder .facks__heder-progress .progress__item circle{
  fill:none;
  stroke-width:12;
  stroke-linecap:round;
}
.main__container-facks .container-facks__heder .facks__heder-progress .progress__item .bg{
  stroke:#ffe3c2;
}
.main__container-facks .container-facks__heder .facks__heder-progress .progress__item .progress{
  stroke-dasharray:427;
  stroke-dashoffset:427;
  -webkit-transition:stroke-dashoffset 2.5s ease;
  transition:stroke-dashoffset 2.5s ease;
}
.main__container-facks .container-facks__heder .facks__heder-progress .progress__item text{
  font-family:"Ubuntu", sans-serif;
  font-size:14px;
  font-weight:400;
  line-height:150%;
  color:#787A80;
  font-weight:700;
  font-size:32px;
  fill:#1E212C;
  -webkit-transform:rotate(90deg);
      -ms-transform:rotate(90deg);
          transform:rotate(90deg);
  -webkit-transform-origin:center;
      -ms-transform-origin:center;
          transform-origin:center;
}
.main__container-facks .container-facks__news{
  margin-top:180px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.main__container-facks .container-facks__news .facks__news-title h3{
  font-family:"Ubuntu", sans-serif;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
}
.main__container-facks .container-facks__news .facks__news-conteiner{
  margin-top:60px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:30px;
}
.main__container-facks .container-facks__news .facks__news-conteiner .news-conteiner__left{
  width:705px;
  height:540px;
  border-radius:4px;
  -webkit-box-shadow:0px 4px 4px -4px rgba(30, 33, 44, 0.031372549), 0px 12px 10px -6px rgba(154, 156, 165, 0.0392156863), 0px 30px 24px -10px rgba(154, 156, 165, 0.0509803922), 0px 80px 80px -20px rgba(154, 156, 165, 0.0784313725);
          box-shadow:0px 4px 4px -4px rgba(30, 33, 44, 0.031372549), 0px 12px 10px -6px rgba(154, 156, 165, 0.0392156863), 0px 30px 24px -10px rgba(154, 156, 165, 0.0509803922), 0px 80px 80px -20px rgba(154, 156, 165, 0.0784313725);
}
.main__container-facks .container-facks__news .facks__news-conteiner .news-conteiner__left .conteiner__left-foto{
  width:705px;
  height:360px;
}
.main__container-facks .container-facks__news .facks__news-conteiner .news-conteiner__left .conteiner__left-foto img{
  width:100%;
  height:100%;
}
.main__container-facks .container-facks__news .facks__news-conteiner .news-conteiner__left .conteiner__left-title{
  margin-top:24px;
  padding-inline:24px;
}
.main__container-facks .container-facks__news .facks__news-conteiner .news-conteiner__left .conteiner__left-title h3{
  font-family:"Ubuntu", sans-serif;
  font-size:46px;
  font-weight:700;
  line-height:130%;
  color:#1E212C;
  font-size:20px;
}
*{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

body{
  min-width:1320px;
}