@use 'mixin' as *;
@use"variables" as *;

.main-content {
  .main-content-statistic {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding-bottom: 240px;
    overflow: hidden;
    &::before {
      content: '';
      background-image: url("/./assets/images/bg.png");
      position: absolute;
      background-repeat:no-repeat;
      background-size:cover;
      transform: rotate(138deg);
      right: -250px;
      bottom: -70px;
      width: 1000px;
      height: 825px;
      opacity: 20%;
    }
    .content-statistic-item {
      display: flex;
      justify-content: center;
      gap: 86px;
      .content-statistic__item {
        width: 262px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        .statistic__item-img {
          svg {
            width: 48px;
            height: 48px;
          }
        }
        .statistic__item-procent {
          @include title;
          font-size: 46px;
          color: $primary;
          margin-top: 12px;
        }
        .statistic__item-text {
          @include text;
          color: #1E212C;
          text-align: center;
        }
      }
    }
    .content-statistic-citats {
      width: 1230px;
      display: flex;
      justify-content: end;
      position: relative;
      .statistic-citats__img {
        z-index: -1;
        width: 525px;
        height: 580px;
        position: absolute;
        top: 120px;
        left: 0;



      }
      .statistic-citats__text {
        background-color: #FFFFFF;
        width: 735px;
        height: 570px;
        padding-top: 80px;
        padding-right: 105px;
        padding-left: 77px;
        box-shadow:
                0px 4px 4px -4px  #1E212C0D,
                0px 12px 10px -6px #9A9CA514,
                0px 30px 24px -10px #9A9CA51A,
                0px 80px 80px -20px #9A9CA529;
        .citats__text-top {
          display: flex;
          gap: 30px;
          .text-top__img {
            svg {
              width: 28px;
              height: 20px;
            }
          }
          .text-top__text {
            p {
              @include title;
              font-size: 20px;
            }
            .margin {
              margin-top: 40px;
            }
          }
        }
        .citats__text-button {
          display: flex;
          gap: 144px;
          align-items: center;
          margin-top: 60px;
          margin-left: 58px;
          .text-button__name {
            h3 {
              @include title;
              font-size: 16px;
            }
            p {
              @include text;
              color: #787A80;
            }
          }
          .text-button__avtograf {
            svg {}
          }
        }
      }
    }
  }
  .main-content__values {
    background-color: #F4F5F6;
    .container-construction__futer {
      padding-top: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        @include primeritext;
        color: $gray900;
        font-weight: 700;
        font-size: 46px;
      }
      p {
        @include primeritext;
        color: #787A80;
        font-size: 18px;
        font-weight: 400;
        margin-top: 24px;
      }
      .futer-item__conteiner {
        margin-top: 60px;
        display: flex;
        width: 1419px;

        .item__conteiner {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-inline: 94px;
          .conteiner-img {
            width: 48px;
            height: 48px;
          }
          .conteiner-title {
            @include primeritext;
            color: $gray900;
            font-weight: 700;
            font-size: 20px;
            margin-top: 24px;
          }
          .conteiner-text {
            @include primeritext;
            color: #787A80;
            font-size: 16px;
            font-weight: 400;
            margin-top: 8px;
            text-align: center;
            line-height: 160%;

          }
        }
        .item__conteiner-center {
          border-left: 1px solid #DADBDD80;
          border-right: 1px solid #DADBDD80;
          border-top: none;
          border-bottom: none;
        }

      }
    }
  }
}