@use 'fonts' as *;
@use 'mixin' as *;
@use"variables" as *;

.main-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-content__position {
    display: flex;
    justify-content: center;
    gap: 135px;
    padding-bottom: 180px;
    .content__position-local {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: 705px;
      .position-local__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 32px;
        padding-inline: 40px;
        border: 1px solid #E5E8ED;
        border-radius: 4px;
        &:hover {
          box-shadow:
                  0px 4px 4px -4px #1E212C08,
                  0px 12px 10px -6px #9A9CA50A,
                  0px 30px 24px -10px #9A9CA50D,
                  0px 80px 80px -20px #9A9CA514;

        }
        .local__item-text {
          .item-text__lokaltime {
            display: flex;
            align-items: center;
            gap: 12px;
            .text__lokaltime-lokal {
              display: flex;
              align-items: center;
              gap: 8px;
              p {
                @include text;
              }
              svg {
                width: 16px;
                height: 16px;
              }
            }

            .text__lokaltime-time {
              display: flex;
              align-items: center;
              gap: 8px;
              p {
                @include text;
              }
              svg {
                width: 16px;
                height: 16px;
              }
            }
          }
          .item-text__position {
            margin-top: 8px;
            h4 {
              @include title;
              font-size: 20px;
            }
          }
        }
        .local__item-button {
          button {
            @include title;
            font-size: 14px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $primary;
            background-color: #ffffff;
            border: 1px solid $primary;
            border-radius: 4px;
            padding-inline: 32px;
            height: 44px;
            &:hover {
              background-color: $primary;
              color: #ffffff;
            }
          }
        }
      }
    }
    .content__position-button {
      width: 390px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .position-button__title {
        h3 {
          @include title;
          font-size: 28px;
        }
      }
      .position-button__text {
        p {
          @include text;
          font-size: 18px;
          color: #424551;
        }
      }
      .position-button__button {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        .button__button-subscribe {
          button {
            @include title;
            font-size: 14px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $primary;
            background-color: #ffffff;
            border: 1px solid $primary;
            border-radius: 4px;
            height: 52px;
            width: 180px;
            &:hover {
              background-color: $primary;
              color: #ffffff;
            }

          }
        }
        .button__button-send {
          button {
            @include title;
            font-size: 14px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $primary;
            background-color: #ffffff;
            border: 1px solid $primary;
            border-radius: 4px;
            height: 52px;
            width: 180px;
            &:hover {
              background-color: $primary;
              color: #ffffff;
            }

          }
        }
      }
    }
  }
  .main-content__employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-bottom: 180px;
    .content__employee-title {
      h2 {
        @include title;
      }
      p {
        @include text;
        text-align: center;
        margin-top: 24px;
        font-size: 18px;
      }
    }
    .content__employee-conteiner {
      display: flex;
      gap: 94px;
      .employee-conteiner-item {
        width: 285px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .conteiner-item__img {
          svg {
            width: 48px;
            height: 48px;
          }
        }
        .conteiner-item__title {
          margin-top: 24px;
          h4 {
            @include title;
            font-size: 20px;
          }
        }
        .conteiner-item__text {
          margin-top: 8px;
          p {
            @include text;
            font-size: 16px;
            text-align: center;
          }
        }
      }
      .conteiner-item__line {
        svg {}
      }
    }
  }
}


.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  .modal__content {
    width: 486px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    .modal__content-title {
      @include title;
      font-size: 28px;
    }
    .modal__content-input {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @include text;
      .content-input {
        display: flex;
        flex-direction: column;
        width: 100%;
        label {
          color: #424551;
          font-size: 14px;
        }
        input {
          margin-top: 8px;
          width: 390px;
          background-color: #F4F5F6;
          padding-block: 12px;
          padding-inline: 16px;
          color: #9A9CA5;
          border: #D7DADD 1px solid ;
          border-radius: 4px;
          &:hover {
            box-shadow:
                    0px 4px 4px -4px #1E212C0D,
                    0px 12px 10px -6px #1E212C14,
                    0px 26px 24px -10px #1E212C1A,
                    0px 60px 80px -20px #1E212C29;
          }
          &:focus {
            border: 1px solid #FF5A30;
            box-shadow: 4px 4px 10px #FF5A30;
            border-radius: 3px;
            outline: none;
          }
        }
        select  {
          width: 390px;
          margin-top: 8px;
          background-color: #F4F5F6;
          padding-block: 12px;
          padding-inline: 16px;
          color: #424551;
          border: #D7DADD 1px solid ;
          border-radius: 4px;
          background-image: url("/./assets/images/Down-chevron.svg");
          background-position: right 16px center;
          background-repeat: no-repeat;
          appearance: none;
          outline: none;
          transition: 0.6ms ;
          &:hover {
            box-shadow:
                    0px 4px 4px -4px #1E212C0D,
                    0px 12px 10px -6px #1E212C14,
                    0px 26px 24px -10px #1E212C1A,
                    0px 60px 80px -20px #1E212C29;
          }
          &:focus {
            border: 1px solid #FF5A30;
            box-shadow: 4px 4px 10px #FF5A30;
            border-radius: 3px;
            outline: none;
            transition: 0.6ms ;
          }
        }
        textarea {
          margin-top: 8px;
          width: 390px;
          background-color: #F4F5F6;
          padding-block: 12px;
          padding-inline: 16px;
          color: #9A9CA5;
          border: #D7DADD 1px solid ;
          border-radius: 4px;
          resize: none;
          @include text;
          &:hover {
            box-shadow:
                    0px 4px 4px -4px #1E212C0D,
                    0px 12px 10px -6px #1E212C14,
                    0px 26px 24px -10px #1E212C1A,
                    0px 60px 80px -20px #1E212C29;
          }
          &:focus {
            border: 1px solid #FF5A30;
            box-shadow: 4px 4px 10px #FF5A30;
            border-radius: 3px;
            outline: none;
          }

        }
        .input-file {
          display: none;
          position: relative;

        }

      }
      .content-fille {
        label {
          display: flex;
          gap: 12px;
          &:hover {
            color: $primary;
          }
          &:active {
            color: #b83f1e;
          }
          img {
            width: 24px;
            height: 24px;
          }

        }
      }

    }
    .modal__content-button {
      margin-top: 18px;
      button {
        width: 390px;
        height: 44px;
        @include title;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid $primary ;
        background-color: $primary;
        color: #fff;
        &:hover {
          border: 2px solid #b83f1e;
          box-shadow: 4px 4px 10px #FF5A30;
        }
        &:active {
          background-color: #c63818;
        }
      }
    }
    .modal__content-clous {
      position: absolute;
      top: 28px;
      right: 28px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
.modal_subsckribe {
  display: none;

}
.modal_send {
  display: none;
}