@use "mixin" as *;
@use"variables" as *;
.header__container-carusel {
  background-color: #000000;

}
.carousel {
  margin: auto;



  .carousel__container {
    width: 100%;
    height: 90vh;
    position: relative;
    box-shadow: 4px 4px 10px black ;
    overflow: hidden;

    .carousel__container-content {
      display: flex;
      overflow: hidden;
      transition: 3s ease-in-out;
      width: 500%;
      height: 100%;
      align-items: center;



      img {
        aspect-ratio: 16 / 9;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 70%;

      }
    }

    .carousel__container-left {
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      height: 100%;
      opacity: 0.3;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 20px;

      &:hover {
        background-color: black;
      }

      &:active {

        .carousel__container-content {
          font-size: 100px;
        }
      }

      .carousel__container-content {
        color: white;
        font-size: 80px;
        user-select: none;

      }
    }

    .carousel__container-right {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 20px;
      opacity: 0.3;
      z-index: 2;

      &:hover {
        background-color: black;
      }

      &:active {

        .carousel__container-content {
          font-size: 100px;
        }
      }

      .carousel__container-content {
        color: white;
        font-size: 80px;
        user-select: none;

      }
    }

    .carousel__container-stop {
      opacity: 0;

      .stop {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 44%;
        left: 47.5%;
        opacity: 0.1;
        transition: 0.2s;

        &:hover {
          opacity: 0.5;
        }

        .stop-item {
          width: 20px;
          height: 65px;
          border: 1px solid black;
          background-color: white;
        }
      }
    }

    .current {
      position: absolute;
      top: 220px;
      left: 345px;
      right: 500px;
      width: 100%;
      z-index: 0;

      .current-heder {
        width: 600px;
        h1 {
          color: white;
          @include primeritext;
          font-size: 72px;
          line-height: 130%;
          letter-spacing: 1px;
          font-weight: 700;
          span {
            color: $primary;
          }
        }
        p {
          color: white;
          @include primeritext;
          font-size: 20px;
          line-height: 150%;
          font-weight: 400;
          margin-top: 24px;
          margin-bottom: 61px;
        }
        .current-heder__button {
          button {
            color: #ffffff;
            @include primeritext;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.5px;
          }
          .button__left {
            width: 278px;
            height: 52px;
            border-radius: 4px;
            border: 1px solid #ffffff;
            background: transparent;
            &:hover {
              box-shadow: 4px 4px 10px black ;
            }
          }
          .button__ring {
            width: 224px;
            height: 52px;
            border-radius: 4px;
            background-color: $primary;
            border: 1px solid $primary;
            margin-left: 24px;
            &:hover {
              box-shadow: 4px 4px 10px black ;
            }
          }
        }
      }



      .current__button {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 179px;

        .current__button-item {
          width: 178px;
          height: 2px;
          border: 2px solid white;
          background-color: #ffffff;
          opacity: 30%;

          &:hover {
            background-color: black;
            box-shadow: 2px 2px 5px white;
            height: 10px;
          }
          h3 {
            color: #ffffff;
            margin-top: -42px;
            font-size: 28px;
            @include primeritext;
            font-weight: 700;
          }
        }

        .active {
          width: 178px;
          height: 10px;
          opacity: 100%;
        }
      }
    }
  }
}
.header__container-carusel2 {
  position: relative;
  z-index: 4;
  .carousel2 {
    margin: auto;



    .carousel__container {
      width: 1200px;
      height: 500px;
      position: relative;
      z-index: 10;
      box-shadow: 4px 4px 10px black ;
      overflow: hidden;

      .carousel__container-content {
        display: flex;
        overflow: hidden;
        transition: 3s ease-in-out;
        width: 800%;
        height: 100%;
        align-items: center;



        img {
          aspect-ratio: 16 / 9;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 100%;

        }
      }

      .carousel__container-left {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        height: 100%;
        opacity: 0.3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;

        &:hover {
          background-color: black;
        }

        &:active {

          .carousel__container-content {
            font-size: 100px;
          }
        }

        .carousel__container-content {
          color: white;
          font-size: 80px;
          user-select: none;

        }
      }

      .carousel__container-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;
        opacity: 0.3;
        z-index: 2;

        &:hover {
          background-color: black;
        }

        &:active {

          .carousel__container-content {
            font-size: 100px;
          }
        }

        .carousel__container-content {
          color: white;
          font-size: 80px;
          user-select: none;

        }
      }

      .carousel__container-stop {
        opacity: 0;

        .stop {
          display: flex;
          gap: 10px;
          position: absolute;
          top: 44%;
          left: 47.5%;
          opacity: 0.1;
          transition: 0.2s;

          &:hover {
            opacity: 0.5;
          }

          .stop-item {
            width: 20px;
            height: 65px;
            border: 1px solid black;
            background-color: white;
          }
        }
      }

      .current {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 100%;
        z-index: 0;

        .current-heder {
          width: 600px;
          h1 {
            color: white;
            @include primeritext;
            font-size: 72px;
            line-height: 130%;
            letter-spacing: 1px;
            font-weight: 700;
            span {
              color: $primary;
            }
          }
          p {
            color: white;
            @include primeritext;
            font-size: 20px;
            line-height: 150%;
            font-weight: 400;
            margin-top: 24px;
            margin-bottom: 61px;
          }
          .current-heder__button {
            button {
              color: #ffffff;
              @include primeritext;
              font-size: 16px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 0.5px;
            }
            .button__left {
              width: 278px;
              height: 52px;
              border-radius: 4px;
              border: 1px solid #ffffff;
              background: transparent;
              &:hover {
                box-shadow: 4px 4px 10px black ;
              }
            }
            .button__ring {
              width: 224px;
              height: 52px;
              border-radius: 4px;
              background-color: $primary;
              border: 1px solid $primary;
              margin-left: 24px;
              &:hover {
                box-shadow: 4px 4px 10px black ;
              }
            }
          }
        }



        .current__button {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-top: 179px;

          .current__button-item {
            width: 100px;
            height: 100px;
            border: 2px solid white;
            background-color: #ffffff;
            background-image: url("/./assets/images/img_10.png");
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            opacity: 30%;

            &:hover {
              background-color: black;
              box-shadow: 2px 2px 5px white;
              height: 110px;
              width: 110px;
              opacity: 1;
            }
            h3 {
              display: none;
              color: #ffffff;
              margin-top: -42px;
              font-size: 28px;
              @include primeritext;
              font-weight: 700;
            }
          }

          .active {
            width: 110px;
            height: 110px;
            opacity: 100%;
            background-color: $primary;
          }
        }
      }
    }
  }
}




