@use 'mixin' as *;
@use"variables" as *;

.footer__conteiner {
  .footer__conteiner-application {
    height: 826px;
    background-image: url("/./assets/images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-inline: 345px;
    padding-block: 80px;
    display: flex;
    justify-content: end;


    .conteiner-application__input {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #FFFFFF;
      width: 495px;
      border-radius: 4px;
      box-shadow:
              0px 4px 4px -4px #1E212C0D,
              0px 12px 10px -6px #1E212C14,
              0px 26px 24px -10px #1E212C1A,
              0px 60px 80px -20px #1E212C29;
      padding-inline: 40px;
      padding-block: 48px;

      .application__input-title {
        margin-bottom: 4px;
        h2 {
          @include title;
          font-size: 28px;
        }
      }
      .application__input {
        display: flex;
        flex-direction: column;
        gap: 8px;
        @include text;
        label {
          color: #424551;
          font-size: 14px;
        }
        input {
          padding-block: 12px;
          padding-inline: 16px;
          color: #9A9CA5;
          border: #D7DADD 1px solid ;
          border-radius: 4px;
          &:hover {
            box-shadow:
                    0px 4px 4px -4px #1E212C0D,
                    0px 12px 10px -6px #1E212C14,
                    0px 26px 24px -10px #1E212C1A,
                    0px 60px 80px -20px #1E212C29;
          }
          &:focus {
            border: 1px solid #FF5A30;
            box-shadow: 4px 4px 10px #FF5A30;
            border-radius: 3px;
            outline: none;
          }
        }

      }
      .application__input-massage {
        input {
          height: 66px;
          padding-bottom: 34px;
        }
      }
      .application__input-checkbox {
        label {
          @include text;
          color: #424551;
          display: flex;
          gap: 6px;
          align-items: start;
          input {
            width: 16px;
            height: 16px;

          }
          input[type="checkbox"] {
            accent-color: $primary;
          }

        }
      }

      .application__input-button {
        display: flex;
        justify-content: center;
        margin-top: 4px;
        button {
          width: 174px;
          height: 44px;
          @include primeritext;
          color: #FFFFFF;
          background-color: $primary;
          text-transform: uppercase;
          font-size: 14px;
          letter-spacing: 0.5px;
          font-weight: 700;
          border-radius: 4px;
          border: none;
          &:hover {
            border: 2px solid #b83f1e;
            box-shadow: 4px 4px 10px #FF5A30;
          }
          &:active {
            background-color: #c63818;
          }
        }
      }

    }
  }
  .footer__conteiner-footer {
    height: 556px;
    background-color: #1E212C;
    padding-block: 80px;
    padding-inline: 345px;
    .conteiner-footer__logo {
      display: flex;
      justify-content: space-between;

      .footer__logo-informacion {
        width: 493px;
        .logo-informacion__informacion {
          display: flex;
          align-items: center;
          gap: 60px;
          .logo-informacion__logo a{
            svg {
              width: 142px;
              height: 24px;
            }
          }
          .logo-informacion__network ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            li a svg {
              opacity: 60%;
              &:hover {
                opacity: 100%;
              }
              path {
                fill: #FFFFFF;
              }
            }
          }
        }
        .logo-informacion__text {
          margin-top: 24px;
          p {
            @include text;
            color: #FFFFFF;
            opacity: 60%;
          }
        }

      }
      .footer__logo-subscribe {
        width: 495px;
        border: #FFFFFF 1px solid;
        .logo-subscribe__title {
          h3 {
            @include title;
            color: #FFFFFF;
            font-size: 24px;
          }
        }
        .logo-subscribe__input {}
        .logo-subscribe__infirmation {}
      }
    }
  }
}