@use 'mixin' as *;
@use"variables" as *;

@media (max-width: 1300px) {
  .header {
    padding-inline: 40px;
    gap: 0;
    justify-content: space-between;
    .header__container-contakt {
      padding-left: 0;
    }
  }
  .header-grey__service {
    grid-template-columns:130px 1fr 421px;
    grid-column-gap: clamp(12px, 2vw, 30px);
    .header__container-nav {
      min-width: 445px;
    }
    .header__container-contakt {
      justify-content: end;
    }
  }
  .main-conten {
    .header__container-carusel {
      .carousel {
        .carousel__container {
          .current {
            .current-heder {
              h1 {
                font-size: 62px;
              }
            }
          }
        }
      }
    }
    .main__container-construction {
      .container-construction__video {
        width: 100%;
        max-width: 1200px;
      }
    }
  }







  .footer__conteiner {
    .application__conteiner-content {
      padding-inline: 20px;
      .content-application {
        width: 100%;
      }
    }
    .footer__conteiner-content {
      padding-inline: 20px;
      .conteiner-footer {
        width: 100%;
        .conteiner-footer__address {
          gap: 0;
          justify-content: space-between;
        }
      }
    }
  }

}
@media (max-width: 1150px) {
  .header {

    .header__container-logo {

    }
    .header__container-nav {

    }
    .header__container-contakt {
      flex-direction: column;
      gap: 10px;
      .contakt__pfone {
        width: 210px;
      }
      .contakt__email {
        width: 210px;
      }
    }
  }
  .header-grey__service {
    grid-template-rows: 146px 1fr;
    grid-template-columns:auto 1fr auto;
    justify-content: space-between;
    overflow: hidden;
    .header__container-contakt {
      align-items: end;
      padding-right: 10px;
    }
    .header__container-services {
      .container-services__title {
        backdrop-filter: blur(5px);
      }
      .container-services__text {
        backdrop-filter: blur(5px);
        p {
          color: #1e212c;
        }
      }
    }
  }
  .main-conten {
    .header__container-carusel {
      .carousel {
        .carousel__container {
          .current {
            left: 50% ;
            .current-heder {
              h1 {
                font-size: 52px;
              }
            }
            .current__button {
              margin-top: 100px;
            }
          }
        }
      }
    }
    .main__container-construction {
      .container-construction__ask {}
    }
  }

}
@media (max-width: 1030px) {
  .header {
    .header__container-contakt {
    }
  }
  .main-conten {
    .main__container-construction {
      .container-construction__futer {
        .futer-item__conteiner {
          display: grid;
          grid-template-columns:auto auto auto;
          grid-template-rows: auto;
          grid-template-areas:
                  "main-construktor-item__conteiner-1 main-construktor-item__line-1 main-construktor-item__conteiner-2"
                  "main-construktor-item__conteiner-3 main-construktor-item__conteiner-3 main-construktor-item__conteiner-3";
          place-items: center ;
          grid-row-gap: 20px;

          .item__conteiner-1 {
            grid-area: main-construktor-item__conteiner-1;
          }
          .item__conteiner-2 {
            grid-area: main-construktor-item__conteiner-2;
          }
          .item__conteiner-3 {
            grid-area: main-construktor-item__conteiner-3;
          }
          .item__conteiner-line-1 {
            grid-area: main-construktor-item__line-1;
          }
          .item__conteiner-line-2 {
            display: none;
          }
        }
      }
    }
  }

  .footer__conteiner {
    .footer__conteiner-content {
      .conteiner-footer {
        .conteiner-footer__logo {
          flex-direction: column;
          gap: 40px;
          .footer__logo-informacion {
            width: 100%;
            .logo-informacion__informacion {
              gap: 0;
              justify-content: space-between;
            }
          }
          .footer__logo-subscribe {
            width: 100%;
          }
        }
      }
    }
  }
  
}

@media (max-width: 900px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 210px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "header__container-logo header__container-contakt"
            "header__container-nav header__container-contakt";

    .header__container-contakt {
      align-items: end;
    }
  }
  .header-grey__service {
    padding-top: 35px;
    grid-template-rows: auto auto 1fr;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "header__container-logo  header__container-contakt"
    "header__container-nav header__container-contakt"
    "header__services header__services";
     grid-row-gap: clamp(12px, 2vw, 30px);
    background-size: cover;
    .header__container-nav {
      min-width: 0;
      .header__nav {
        .header__nav-list {
          gap: 0;
          justify-content: space-between;

        }
      }
    }
  }
  .main-conten {
    .header__container-carusel {
      .carousel {
        .carousel__container {
          .current {
            .current-heder {
              h1 {
                font-size: 42px;
              }
              p {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .main__container-construction {
      .container-construction__title {
        h2 {
          text-align: center;
        }
      }
      .container-construction__futer {
        padding-bottom: 345px;
      }
      .container-construction__ask {
        .ask-title {
          text-align: center;
        }
        .ask-input {
          display: grid;
          grid-template-columns:1fr 1fr;
          grid-template-rows: auto auto auto;
          grid-template-areas:
                "ask-input__name ask-input__phone"
                "ask-input__message ask-input__message"
                "ask-input__button ask-input__button" ;
          grid-column-gap: 20px;
          grid-row-gap: 20px;
          .ask-input__name {
            grid-area: ask-input__name;
            input {
              max-width: 100%;
            }
          }
          .ask-input__phone {
            grid-area: ask-input__phone;
            input {
              max-width: 100%;
            }
          }
          .ask-input__message {
            grid-area: ask-input__message;
            place-items: center;
            input {
              max-width: 100%;
              width: 100%;
            }
          }
          .ask-input__button {
            grid-area: ask-input__button;
            place-items: center;
          }
        }
      }
      .main__container-services {
        .container-services__content {
          .services__content-item {
            .content-item-fons {
              gap: 8px;
              .content-item-img {
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                  width: 40px;
                  height: 40px;
                }
              }
              .content-item-title {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 770px) {
  .header {
    padding-inline: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 65px;
    grid-template-rows: 1fr ;
    grid-template-areas:
            "header__container-logo header__container-contakt header__container-burger";
    .header__container-nav {
      display: none;
    }
    .header__container-contakt {
      flex-direction: row;
    }
    .header__container-burger {
      grid-area: header__container-burger;
      display: flex;
    }
  }
  .header-grey__service {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
    "header__container-logo  header__container-contakt header__container-burger"
    "header__services header__services header__services";
    .header__container-contakt {
      justify-content: start;
      gap: 0;
      padding-left: 15px;
    }
  }
  .main-conten {
    .header__container-carusel {
      .carousel {
        .carousel__container {
          .current {
            .current-heder {
              h1 {
                font-size: 37px;
              }
              p {
                font-size: 17px;
              }
              .current-heder__button {
                .button__left {
                  font-size: 14px;
                  }

                .button__ring {
                  font-size: 14px;
                }
              }

            }
            .current__button {
              margin-top: 60px;
            }
          }
        }
      }
    }
    .main__container-construction {
      padding-top: 60px;
      .container-construction__futer {
        padding-top: 60px;
      }
    }

  }

}
@media (max-width: 680px) {
  .header {
    grid-template-columns: 1fr 65px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "header__container-logo header__container-burger"
            "header__container-contakt header__container-burger";
    .header__container-logo {
      svg {
        width: 69px;
        height: 12px;
      }
    }
    .header__container-contakt {
      .contakt__pfone {
        width: 135px;
        .contakt__img {
          svg {
            width: 27px;
            height: 27px;
          }
        }
        .contakt__text {
          h3 {
            font-size: 12px;
          }
          p {
            font-size: 11px;
          }
        }
      }
      .contakt__email {
        width: 135px;
        .contakt__img {
          svg {
            width: 27px;
            height: 27px;
          }
        }
        .contakt__text {
          h3 {
            font-size: 12px;
          }
          p {
            font-size: 11px;
          }
        }
      }
    }
    .header__container-burger {
      .container-burger {
        padding: 6px;
      }
    }
  }
  .header-grey__service {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto auto;
    grid-template-areas:
    "header__container-logo  header__container-burger"
    "header__container-contakt header__container-burger"
    "header__services header__services";
    .header__container-services {
      width: 100%;
    }
  }
  .main-conten {
    .header__container-carusel {
      .carousel {
        .carousel__container {
          .carousel__container-left {
            padding-inline: 0;
            .carousel__container-content {
              font-size: 45px;
            }
          }
          .carousel__container-right {
            padding-inline: 0;
            .carousel__container-content {
              font-size: 45px;
            }
          }
          .current {
            .current-heder {
              width: 100%;
              h1 {
                font-size: 30px;
              }
              p {
                font-size: 14px;
                margin-bottom: 36px;
              }
              .current-heder__button {
                .button__left {
                  font-size: 12px;
                  height: 36px;
                  width: 200px;
                }

                .button__ring {
                  font-size: 12px;
                  height: 36px;
                  width: 200px;
                }
              }

            }
            .current__button {
              margin-top: 30px;
              .active {
                height: 6px;
              }
              .current__button-item {
                h3 {
                  font-size: 16px;
                  margin-top: -22px;
                }
              }

            }
          }
        }
      }
    }
    .main__container-construction {
      .container-construction__title {
        h2 {
          font-size: 25px;
        }
        p {
          font-size: 12px;
        }
      }
      .container-construction__futer {
        padding-bottom: 400px;
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 12px;
        }
        .futer-item__conteiner {
          grid-template-columns:auto;
          grid-template-rows: auto auto auto;
          grid-template-areas:
                  "main-construktor-item__conteiner-1"
                  "main-construktor-item__conteiner-2"
                  "main-construktor-item__conteiner-3";
          grid-row-gap: 40px;
          justify-content: center;
          .item__conteiner {
            .conteiner-title {
              font-size: 18px;
            }
            .conteiner-text {
              padding-inline: 15px;
              font-size: 12px;
            }
          }
          .item__conteiner-line-1 {
            display: none;
          }
        }
      }
      .container-construction__ask {
        bottom: 1057px;
        .ask-title {
          h3 {
            font-size: 23px;
          }
        }
        .ask-input {
          grid-template-columns:1fr;
          grid-template-rows: auto auto auto auto;
          grid-template-areas:
                "ask-input__name"
                "ask-input__phone"
                "ask-input__message"
                "ask-input__button";
          grid-column-gap: 20px;
          grid-row-gap: 20px;
          .ask-input__message {
            place-items: normal;
          }
        }
      }
      .main__container-services {
        padding-top: 245px;
        .container-services__title {
          h2 {
            font-size: 25px;
          }
          p {
            font-size: 12px;
            padding-inline: 20px;
          }
        }
        .container-services__content {
          width: auto;
          display: grid;
          grid-template-columns:auto;
          grid-template-rows: auto auto;
          grid-template-areas:
                "services__content-item-1 services__content-item-2"
                "services__content-item-3 services__content-item-4";
          grid-row-gap: 20px;
          grid-column-gap: 20px;
          .item-1 {
            grid-area: services__content-item-1;
            place-items: center;
          }
          .item-2 {
            grid-area: services__content-item-2;
            place-items: center;
          }
          .item-3 {
            grid-area: services__content-item-3;
            place-items: center;
          }
          .item-4 {
            grid-area: services__content-item-4;
            place-items: center;
          }
        }

      }
    }
  }
  
}
@media (max-width: 500px) {
  .header {
    padding-block: 25px;
    padding-inline: 20px;
    grid-template-columns: 1fr 65px;
    grid-template-rows: 1fr ;
    grid-row-gap: 20px;
    grid-template-areas:
            "header__container-logo header__container-burger";
    .header__container-contakt {
      display: none;
    }
    .header__container-burger {
      .container-burger {
        padding: 2px;
      }
    }
  }
  .header-grey__service {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto auto;
    grid-template-areas:
    "header__container-logo  header__container-burger"
    "header__services header__services";
    .header__container-services {
      .container-services__title {
        h1 {
          font-size: 32px;
        }
      }
      .container-services__text {
        p {
          font-size: 16px;
        }
      }
    }
  }
  .main-conten {
    .header__container-carusel {
      .carousel {
        .carousel__container {

          .current {
            .current-heder {
              h1 {
                font-size: 25px;
              }
              p {
                font-size: 10px;
                margin-bottom: 12px;
                margin-top: 12px;
              }
              .current-heder__button {
                .button__left {
                  font-size: 10px;
                  height: 26px;
                  width: 150px;
                }

                .button__ring {
                  font-size: 10px;
                  height: 26px;
                  width: 150px;
                  margin-left: 10px;
                }
              }

            }
            .current__button {
              .active {

              }
              .current__button-item {
                h3 {

                }
              }

            }
          }
        }
      }
    }
    .main__container-construction {
      .container-construction__title {
        p {
          text-align: center;
          padding-inline: 20px;
        }
      }
      .container-construction__ask {
        padding-inline: 15px;
      }
    }
  }
  .footer__conteiner {
    .footer__conteiner-content {
      .conteiner-footer {
        .conteiner-footer__address {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
                  "footer__address-whoweare footer__address-experience"
                  "footer__address-office footer__address-office";
          grid-row-gap: 20px;
          .footer__address-office {
            grid-area: footer__address-office;
          }
          .footer__address-whoweare {
            grid-area: footer__address-whoweare;
          }
          .footer__address-experience {
            grid-area: footer__address-experience;
            display: flex;
            flex-direction: column;
            align-items: end;
          }
        }
        .conteiner-footer__gototop {
          flex-direction: column;
          gap: 60px;
          .footer__gototop-arrow {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}
@media (max-width: 430px) {
  .main-conten {
    .header__container-carusel {
      .carousel {
        .carousel__container {

          .current {
            .current-heder {
              h1 {
                font-size: 18px;
              }
              p {
                font-size: 8px;
                margin-bottom: 10px;
                margin-top: 10px;
              }
              .current-heder__button {
                .button__left {
                  font-size: 8px;
                  height: 22px;
                  width: 150px;
                }

                .button__ring {
                  font-size: 8px;
                  height: 22px;
                  width: 150px;
                  margin-left: 10px;
                }
              }

            }
          }
        }
      }
    }
    .main__container-construction {
      .container-construction__ask {
        bottom: 1083px;
      }
      .main__container-services {
        .container-services__content {
          grid-column-gap: 5px;
          grid-row-gap: 5px;
          .services__content-item {
            .content-item-fons {
              .content-item-img {
                svg {
                  width: 25px;
                  height: 25px;
                }
              }
              .content-item-title {
                font-size: 12px;
              }
            }
          }
        }
      }
    }

  }
  .footer__conteiner {
    .application__conteiner-content {
      padding-inline: 10px;
    }
    .footer__conteiner-content{
      padding-inline: 10px;
      .conteiner-footer {
        .conteiner-footer__address {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas:
                  "footer__address-whoweare"
                  "footer__address-experience"
                  "footer__address-office";
          .footer__address-whoweare {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .footer__address-experience {
            align-items: center;
          }
        }
        .conteiner-footer__logo {
          .footer__logo-informacion {
            .logo-informacion__informacion {
              flex-direction: column;
              gap: 40px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 365px) {
  .main-conten {
    .main__container-construction {
      .container-construction__futer {
        padding-inline: 0;
      }
    }
  }
  .footer__conteiner {
    .application__conteiner-content {
      padding-inline: 5px;
    }
    .footer__conteiner-content {
      padding-inline: 5px;
    }
  }
}