@use 'fonts' as *;
@use"variables" as *;


@mixin primeritext {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

@mixin title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  color: $gray900;
}

@mixin text{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #787A80;
}