@use 'mixin' as *;
@use"variables" as *;

.main-content {
  padding-top: 120px;
  padding-bottom: 180px;


  .container-services {
    position: relative;
    display: flex;
    gap: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      position: absolute;
      bottom: -200px;
      left: -607px;
      width: 1065px;
      height: 858px;
      background-image: url("/assets/images/bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(32deg);
      opacity: 0.25;
      pointer-events: none;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 700px;
      left: 1441px;
      width: 1065px;
      height: 858px;
      background-image: url("/assets/images/bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(58deg);
      opacity: 0.25;
      pointer-events: none;
      z-index: -1;
    }

    .services__item {
      width: 1230px;
      height: 420px;
      display: flex;
      gap: 80px;

      .services__item-img {
        width: 575px;
        height: 420px;
        img {
          width: 100%;
          height: 100%;

        }
      }
      .services__item-text {
        width: 575px;
        padding-block: 89px;
        .item-text__title {
          h3 {
            @include title;
            font-size: 32px;
          }
        }
        .item-text__text {
          margin-top: 24px;
          p {
            @include text;
            font-size: 16px;
          }
        }
        .item-text__button {
          margin-top: 48px;
          button {
            @include text;
            font-weight: 700;
            text-transform: uppercase;
            color: $primary;
            padding-inline: 32px;
            height: 44px;
            background-color: #FFFFFF;
            border: 1px solid $primary;
            border-radius: 4px;


            &:hover {
              color: #FFFFFF;
              background-color: $primary;



            }
          }

        }
      }
    }
  }
}

