@use 'mixin' as *;
@use"variables" as *;

.header {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .header__container-logo {
    grid-area: header__logo;
  }
  .header__container-nav {
    .header__nav {
      grid-area: header__nav;
      .header__nav-list{
        display: flex;
        gap: 40px;
        li {
          a {
            text-decoration: none;
            color: #424551;
            @include primeritext;
            font-size: 16px;
            font-weight: 700;
            line-height: 160%;

            &:hover {
              color: $primary;
            }
          }
        }

      }
    }
  }
  .header__container-contakt {
    grid-area: header__contakt;
    display: flex;
    gap: 36px;
    padding-left: 112px;

    .contakt__pfone {
      display: flex;
      gap: 12px;
      align-items: center;


    }
    .contakt__email {
      display: flex;
      gap: 12px;
      align-items: center;
    }
    .contakt__img {}
    .contakt__text {
      @include primeritext;
      line-height: 150%;
      vertical-align: middle;
      h3 {
        color: #424551;
        font-weight: 700;
        font-size: 14px;
      }

      p {
        color: $gray900;
        font-weight: 400;
        font-size: 18px;
      }
    }

  }
}
.header-grey__service {
  background-color: #F4F5F6;
  display: grid;
  grid-template-columns:130px 447px 533px;
  grid-template-rows: 88px 512px;
  grid-template-areas:
    " header__logo header__nav header__contakt "
    " header__services header__services header__services ";
  column-gap: 60px;
  justify-content: center;
  row-gap: 0;
  background-image: url("/assets/images/background_2.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 1230px;
  margin: 0 auto;
  overflow: hidden;
  .header__container-contakt {
    padding-left: 112px;


  }

  .header__container-services {
    grid-area: header__services;
    width: 650px;
    padding-bottom: 179px;
    .container-services__nav {
      display: flex;
      gap: 6px;
      align-items: center;
      .services__nav-homepage a {
        @include text;
        text-decoration: none;
        color: #424551;
        &:hover {
          color: $primary;
        }
      }
      .services__nav-services a {
        @include text;
        text-decoration: none;
        color: #424551;
        &:hover {
          color: $primary;
        }
      }
      .active a{
        color: #9A9CA5;
        &:hover {
          color: #9A9CA5;
        }

      }
    }
    .container-services__title {
      margin-top: 40px;
      h1 {
        @include title;
        font-size: 72px;
      }
    }
    .container-services__text {
      margin-top: 24px;
      p {
        @include text;
        color: #787A80;
        font-size: 20px;
      }
    }

  }
}
.service-item {
  position: relative;
  background-image: none;
  overflow: hidden;

  &::before {
    content: "";
    background-image: url("/assets/images/bg_2.png");
    transform: rotate(180deg);
    position: absolute;
    top: -194px;
    right: -159px;
    width: 1103px;
    height: 1088px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 0;
    opacity: 20%;
  }

}
.header-work {
  position: relative;
  background-image: url("/assets/images/bg_3.png");;
  overflow: hidden;


}
.header-work-item {
  background-image: none;
  position: relative;
  &::before {
    content: "";
    background-image: url("/assets/images/bg_2.png");
    position: absolute;
    top: 48px;
    right: -282px;
    width: 854px;
    height: 854px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    opacity: 12%;
    z-index: 1;
  }
}


