@use"reset";
@use "fonts" as *;
@use "mixin" as *;
@use"variables" as *;
@use "heder";
@use "carusel";
@use "main";
@use "services";
@use "service-item";
@use "work";
@use "work-item";
@use "abaut_us";
@use "about_us-available_positions";
@use "news";
@use "new-item";
@use "footer";


* {
  box-sizing: border-box;
}

body {
  min-width: 1320px;
}


